@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,500;1,700;1,900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
ul,
ol,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
	outline: none;
}

textarea {
	width: 300px;
	height: 150px;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	resize: vertical;
}

textarea:focus {
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type='file'] {
	display: none;
}

.chat-modal {
	padding-top: 20px;
	position: relative;
	width: 437px;
	height: 659px;
	width: 463px;
	border-radius: 18px;
	background: #617ee7;
}

.message-window {
	margin-top: 15px;
	padding: 0 15px 15px 15px;

	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	top: 84px;
	width: 463px;
	height: 583px;
	border-radius: 18px;
	background: #fff;
	&__agreement {
		width: 463px;
		height: 64px;
		border-radius: 18px;
		background: #f3f3f3;
	}
	&__message-section {
		display: flex;
		overflow: hidden;
		flex-direction: column-reverse;
		justify-content: end;
		height: 487px;
		width: 100%;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}
	// &__message {
	// 	display: flex;
	// 	align-items: flex-end;
	// 	justify-content: space-between;
	// 	width: 100%;
	// 	margin-top: 25px;
	// 	&_rev {
	// 		flex-direction: row-reverse;
	// 	}
	// }
}

.message-input {
	position: relative;
	&__input {
		// display: flex;
		// text-align: center;
		// justify-content: flex-start;
		margin-top: 15px;
		font-family: Roboto;
		line-height: 18px;
		word-wrap: break-word;
		word-break: break-word;
		white-space: pre-wrap;
		padding: 16px 101px 10px 22px;
		resize: none;
		font-size: 14px;
		width: 100%;
		border-radius: 30px;
		border: 1px solid #000;
		height: 52px;

		&::placeholder {
			color: #b7b7b7;
			font-family: Roboto;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 22px; /* 137.5% */
			position: absolute;
			text-align: center;
		}

		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}
}

.container-tools {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	padding: 5px;
	gap: 5px;
	position: absolute;
	right: 23px;
	bottom: 6px;

	&__clip {
		background-image: url('../../assets/icons/clip.svg');
		width: 20px;
		height: 24px;
		cursor: pointer;
		bottom: 12px;
		right: 25px;
	}
	&__send-button {
		transform: rotate(90deg);
		right: 55px;
		bottom: 7px;
	}
}

/*=============================================
=            CLIENT
// <li className='message-window__message  message-support message-support_rev'>
// 	<div className='message-support__container-body'>
// 		<div className='message-support__body message-support__body_long'>
// 			Lorem Ipsum is simply dummy text of the printing and typesetting
// 			industry. Lorem Ipsum has been the industry's standard dummy text
// 		</div>
// 	</div>
// 	<div className='message-support__time'>11:28</div>
// </li>
=
=============================================*/

/*=============================================
=            SUPPORT

/ 		<li className='message-window__message message message--support'>
// 			<div className='message__image-support'>
// 				<img src={iconSupport} />
// 			</div>
// 			<div className='message__body messagebody--support'>
// 				<div className='message__text'>{text}</div>
// 				<div className='message__time'>11:28</div>
// 			</div>
// 		</li>

=
=============================================*/
.message {
	display: flex;
	align-items: flex-end;
	width: 100%;
	margin-top: 25px;
	&--support {
		align-items: flex-end;
		justify-content: flex-start;
	}
	&--client {
		flex-direction: row-reverse;
	}
	&__image-support {
		width: 55px;
		height: 55px;
		border-radius: 50%;
	}
	&__image-support > img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		object-fit: cover;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
	}
	&__text {
		word-wrap: break-word;
		min-height: 100%;
		padding: 8px 26px;
		border-radius: 20px;
		font-family: Roboto;
		font-size: 15px;
		font-weight: 400;
		&--main-chat-support {
			margin-left: 20px;
			background: #f6f6f6;
			color: #000;
			max-width: 600px;
		}
		&--main-chat-client {
			position: relative;
			background: #dfe6ff;
			margin-right: 15px;
			margin-left: 5px;
			max-width: 600px;
			&::before {
				content: url('../../assets/icons/angle_message.svg');
				position: absolute;
				bottom: -4.7px;
				right: -13px;
			}
		}
		&--support {
			margin-left: 20px;
			background: #f3f3f3;
			color: #000;
			max-width: 280px;
		}
		&--client {
			position: relative;
			background: #dfe6ff;
			margin-right: 15px;
			margin-left: 5px;
			max-width: 330px;

			&::before {
				content: url('../../assets/icons/angle_message.svg');
				position: absolute;
				bottom: -4.7px;
				right: -13px;
			}
		}
	}
	&__body {
		width: 100%;
		display: flex;
		&--support {
			justify-content: space-between;
		}
		&--client {
			justify-content: flex-end;
		}
	}

	&__time {
		display: flex;
		width: 45px;
		align-items: flex-end;
		color: #000;

		font-family: Roboto;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}

.title-app {
	width: 78%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 15px;
}

.arrow-button {
	background-image: url('../../assets/icons/arrow.svg');
	width: 37px;
	height: 37px;
	cursor: pointer;
	&_hover {
		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background-image: url('../../assets/icons/arrow-hover.svg');
			background-size: cover;
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		&:hover::before {
			opacity: 1;
		}
	}
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	&__box {
		display: flex;
	}
	&__text {
		font-family: 'Roboto', sans-serif;
		color: #fff;
		font-family: Roboto;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		margin-right: 5px;
	}
	&__status {
		color: rgb(53, 231, 53);
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		font-weight: 500;
		font-style: normal;
		line-height: normal;
	}
}

.agreement {
	position: absolute;
	display: block;
	padding: 19px 44px;
	top: 78px;
	left: 0;
	&__text {
		color: #000;
		text-align: center;
		font-family: Roboto;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	&__text-span {
		text-decoration: underline;
	}
}
